In [5]:
import pandas as pd

# Goal

the 'genre' column in the 'IBSN_only.xlsx' dataset contains a string of genres separated by commas for each row in teh dataset. The goal is to get a unique list of all genres found in the dataset to create a table that shows how many times a genre appears in the dataset. That dataset will then be used in Tableau to visualize the most prominent genres in the dataset.

In [62]:
df = pd.read_excel('ISBN_only.xlsx')

In [63]:
df.head()

,author,bookformat,description,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalRatings,Lang,count_reviews,type_of_read,Rating2
0,Jeffrey Pfeffer,Paperback,"""Competitive Advantage Through People"" explore...","Business,Leadership,Business,Management,Romanc...",https://i.gr-assets.com/images/S/compressed.ph...,087584717X,9.780000e+12,https://goodreads.com/book/show/1001092.Compet...,304,3.65,1,Competitive Advantage Through People: Unleashi...,20,NaN,0,Medium Read,3.75
1,Brian Morris,Paperback,"In this important, scholarly and wide-ranging ...","Anthropology,Religion,Nonfiction,Academic,Soci...",https://i.gr-assets.com/images/S/compressed.ph...,052133991X,9.780000e+12,https://goodreads.com/book/show/1001204.Anthro...,382,3.69,3,Anthropological Studies of Religion: An Introd...,67,eng,2,Medium Read,3.71
2,Graham Purchase,Paperback,This book outlines the history of our slow ali...,"Biology,Ecology,Nonfiction,Politics",https://i.gr-assets.com/images/S/compressed.ph...,1551640260,9.780000e+12,https://goodreads.com/book/show/1001209.Anarch...,216,3.59,3,Anarchism And Ecology,29,NaN,3,Short Read,3.60
3,"Dan Sleigh,AndrÃ© Brink",Hardcover,This novel of epic proportions from South Afri...,"Historical,Historical Fiction,Cultural,Africa,...",https://i.gr-assets.com/images/S/compressed.ph...,015101115X,9.780000e+12,https://goodreads.com/book/show/1001309.Islands,768,3.62,35,Islands,378,eng,22,Long Read,3.61
4,Christopher Morley,Paperback,"Roger Mifflin is part pixie, part sage, part n...","Fiction,Writing,Books About Books,Classics,Hum...",https://i.gr-assets.com/images/S/compressed.ph...,1414270658,9.780000e+12,https://goodreads.com/book/show/1001312.Parnas...,152,4.03,1214,Parnassus on Wheels,6107,NaN,552,Short Read,4.02

In [64]:
#want to fill nan values in dataset so that it doesn't mess with future code
df.fillna("",inplace = True)
#Add a comma at the end of every values in the genre for when I combine all the values in the column into one string.
df['genre'] = df['genre'] + ','

In [65]:
#want to concat all the strings into one string to then get a unique list of all genres in this dataset.

big_string = ''
for i in df['genre']:
    big_string = big_string + str(i)

In [66]:
unique_genres = list(set(big_string.split(',')))

In [72]:
len(unique_genres)

938

In [78]:
#this dictionary will hold all the unique genres in the data with the key being the genre and the value being
#how many times that genre shows up in the dataset.
d = {}
for i in unique_genres:
    counter = 0
    for b in df['genre']:
        if i in str(b):
            counter += 1
    d[i] = counter
    
#sorting the dictionary by how many times the genre appears in the d ataset
d = {k: v for k, v in sorted(d.items(), key=lambda item: item[1],reverse = True)}

In [86]:
#dataframe of sorted dictionary with genre and count column
genres = pd.DataFrame(list(d.items()), columns=['Genre', 'Count'])
genres = genres.loc[genres['Genre'] != '']
#I'll use this dataframe to create a visualization in tableau
genres

                 Genre  Count
1           Nonfiction   3560
2              Fiction   2300
3              History   1526
4                  Art   1477
5           Literature   1245
..                 ...    ...
933  American Classics      1
934        Dying Earth      1
935      Erotic Horror      1
936    Gender Identity      1
937           Intersex      1

[937 rows x 2 columns]

'genre_count.xlsx' will be used in Tableau to create a bar chart showing the top N genres in the dataset.

In [88]:
genres.to_excel('genre_count.xlsx', index = False)